<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_f1b41f427ed443a1b968eb0149f9c95c {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_f1b41f427ed443a1b968eb0149f9c95c" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_f1b41f427ed443a1b968eb0149f9c95c = L.map(
        'map_f1b41f427ed443a1b968eb0149f9c95c', {
        center: [65, -15],
        zoom: 5,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_97c81472eb944ddbae9f352497243c40 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_f1b41f427ed443a1b968eb0149f9c95c);
    
        var marker_95579c398d404e23a1ddb05d94d36a62 = L.marker(
            [65.2, -15.2],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1b41f427ed443a1b968eb0149f9c95c);
        
    
        var marker_74f047eb21c8466fab548c176e2b8bcc = L.marker(
            [48.8534, 2.3488],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1b41f427ed443a1b968eb0149f9c95c);
        
    
            var popup_9130f1537d8140998c0e5de2de3e5ba2 = L.popup({maxWidth: '100%'
            
            });

            
                var html_1da10e3cb2694ad8a6d5f64333a37ca8 = $(`<div id="html_1da10e3cb2694ad8a6d5f64333a37ca8" style="width: 100.0%; height: 100.0%;">PARIS</div>`)[0];
                popup_9130f1537d8140998c0e5de2de3e5ba2.setContent(html_1da10e3cb2694ad8a6d5f64333a37ca8);
            

            marker_74f047eb21c8466fab548c176e2b8bcc.bindPopup(popup_9130f1537d8140998c0e5de2de3e5ba2)
            ;

            
        
    
        var marker_81150875fe7144d68ad27ffc726fbdf9 = L.marker(
            [40.416775, -3.70379],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1b41f427ed443a1b968eb0149f9c95c);
        
    
            var popup_160bcacd70134dfc8467794db7bc791e = L.popup({maxWidth: '100%'
            
            });

            
                var html_1f004777d9ec413a8cbfc1e38e664819 = $(`<div id="html_1f004777d9ec413a8cbfc1e38e664819" style="width: 100.0%; height: 100.0%;">MADRID</div>`)[0];
                popup_160bcacd70134dfc8467794db7bc791e.setContent(html_1f004777d9ec413a8cbfc1e38e664819);
            

            marker_81150875fe7144d68ad27ffc726fbdf9.bindPopup(popup_160bcacd70134dfc8467794db7bc791e)
            ;

            
        
    
        var marker_f4736f84b96d4b0380b2b217fc0ce0fe = L.marker(
            [51.50853, -0.12574],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f1b41f427ed443a1b968eb0149f9c95c);
        
    
            var popup_599e932153ec4a8a91fad5d2b2c5cba3 = L.popup({maxWidth: '100%'
            
            });

            
                var html_19a4e2097c0245da91dceef92d76e2ad = $(`<div id="html_19a4e2097c0245da91dceef92d76e2ad" style="width: 100.0%; height: 100.0%;">LONDRES</div>`)[0];
                popup_599e932153ec4a8a91fad5d2b2c5cba3.setContent(html_19a4e2097c0245da91dceef92d76e2ad);
            

            marker_f4736f84b96d4b0380b2b217fc0ce0fe.bindPopup(popup_599e932153ec4a8a91fad5d2b2c5cba3)
            ;

            
        
</script>